<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/table-color.css') }}">
	 <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>


	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	  <style>
body {
  //background-color: #39363D;
  background-image: url("{{ url_for('static', filename='image/anysafe_new.png') }}");
  //background-size: cover;
  //background-repeat: no-repeat;
}

.enableEthereumButton {
    background-color:#E2DAF2;
    border-radius:15px;
    //border:1px solid #3F41E8;
    border: none;
    display:inline-block;
    cursor:pointer;
    color:grey;
    font-family:Arial;
    font-size:16px;
    padding:13px 20px;
    text-decoration:none;
    color: #5271FF
    }
    .enableEthereumButton:active {
    position:relative;
    top:1px;
    }
    .enableEthereumButton:hover {
    opacity: 0.5;
    }

.showAccount {
color: #EFEFEF;
position: absolute;
margin:0px;
padding:20px;
font-size:16px;}

.showAccount:active {
 //position:relative;
 //top:1px;
 //vertical-align: top;
 //text-align: left;
     position:relative;
    top:1px;}

</style>
	</head>
	<body>
	<div style="display:flex; justify-content:flex-end; width:100%; padding:10px;">
		<button class="enableEthereumButton">Connect to Metamask</button>
	</div>
	<p align="left" style="font-weight:bold;"> <img src="{{ url_for('static', filename='image/metamask_logo.svg') }}" width="40" height="40" />
		<span class="showAccount"></span></p>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section"></h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
							<thead class="thead-primary">
							<tr>
								<th></th>
								<th>BALANCE</th>
								<th>YIELD %</th>
								<th>STAKING REWARDS</th>
								<th>STAKING TIME</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<th scope="row">SAFEMOON</th>
								<td><span class="safemoon"></span></td>
								<td><span class="safemoon_apy"></span></td>
								<td><span class="safemoon_rewards"></span></td>
								<td><span class="staking_time"></span></td>
							</tr>
							<tr>
								<th scope="row">FEG</th>
								<td><span class="feg"></span></td>
								<td><span class="feg_apy"></span></td>
								<td><span class="feg_rewards"></span></td>
								<td><span class="staking_time"></span></td>
							</tr>
							<tr>
								<th scope="row">SAFEMARS</th>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">SAFEBTC</th>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">FOX</th>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">OCTA</th>
								<td><span class="octa"></span></td>
								<td><span class="octa_apy"></span></td>
								<td><span class="octa_rewards"></span></td>
								<td><span class="staking_time"></span></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>



	<header>
	</header>
	<script>
const ethereumButton = document.querySelector('.enableEthereumButton');

const showAccount = document.querySelector('.showAccount');

const safemoon = document.querySelector('.safemoon');
const safemoon_apy = document.querySelector('.safemoon_apy');
const safemoon_rewards = document.querySelector('.safemoon_rewards');
const staking_time = document.querySelector('.staking_time');

const feg = document.querySelector('.feg');
const feg_apy = document.querySelector('.feg_apy');
const feg_rewards = document.querySelector('.feg_rewards');

const octa = document.querySelector('.octa');
const octa_apy = document.querySelector('.octa_apy');
const octa_rewards = document.querySelector('.octa_rewards');


ethereumButton.addEventListener('click', () => {
  getAccount();
});

testButton.addEventListener('click', () => {
  getAjax();
});

tokenButton.addEventListener('click', () => {
  get_balance_from_token();
});


function getAjax(value) {
    $.post("/postmethod",
    {'javascript_data': value},
    function(data){test.innerHTML = data.val;}
    );
}

function get_tokens_from_wallet(address) {
    $.post("/token_list",
    {'address': address},
    function(data){test.innerHTML = data;}
    );
}

function user_connection(address) {
    $.post("/connection",
    {'address': address}
    );
}


async function getAccount() {
   const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
   const account = accounts[0];
   showAccount.innerHTML = account.slice(0, 15) + "...";
   // returns list of tokens hold by user
   user_connection(account);
   setInterval(
   function(){
   get_balance_from_user(account);
   },
   3000);
}

async function get_balance_from_user(address) {
    $.post("/token_balance",
    {'address': address},
    function(data){
    safemoon.innerHTML = data.SAFEMOON[0];
    safemoon_apy.innerHTML = data.SAFEMOON[1] + '%';
    safemoon_rewards.innerHTML = data.SAFEMOON[2];

    feg.innerHTML = data.FEG[0];
    feg_apy.innerHTML = data.FEG[1] + '%';;
    feg_rewards.innerHTML = data.FEG[2];

	//staking_time.innerHTML = moment(data.staking_time[0]).format("DD-MM-YYYY HH:mm:ss");
    octa.innerHTML = data.OCTA[0];
    octa_apy.innerHTML = data.OCTA[1] + '%';
    octa_rewards.innerHTML = data.OCTA[2];
    }
    );
}

</script>

	</body>
</html>

