<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/table-color.css') }}">
	 <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>


	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	  <style>
body {
  background-color: #323739;
  //background-image: url("{{ url_for('static', filename='image/anysafe.png') }}");
  //background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.showAccount {
color: gray;
position: absolute;
margin:0px;
padding:20px;
font-size:16px;}

.showAccount:active {
 //position:relative;
 //top:1px;
 //vertical-align: top;
 //text-align: left;
     position:relative;
    top:1px;}

</style>
	</head>
	<body>

	<div class="row">
		<div class="col logo">
			<p align="left" style="font-weight:bold;"> <img src="{{ url_for('static', filename='image/metamask_logo.svg') }}" width="35" height="35" />
				<span class="showAccount"></span></p>
		</div>
		<div class="col main-logo">
			<img src="{{ url_for('static', filename='image/A.png') }}">

		</div>
		<div class="col " style="padding-top: 15px;">
			<button class="enableEthereumButton float-right">Connect to Metamask</button>
		</div>

	</div>
<p class="subtitle" align="center">Rewards calculator for Auto Staking Protocol</p>
	<br>
	<br>
	<br>

	<div class="select-box">

		<label for="select-box1" class="label select-box1"><span class="label-desc">Choose your token</span> </label>
		<select id="select-box1" class="select">
			<option value="SAFEMOON">SAFEMOON</option>
			<option value="OCTA">OCTA</option>
			<option value="SAFEMARS">SAFEMARS</option>
			<option value="SAFEBTC">SAFEBTC</option>
			<option value="FEG">FEG</option>
		</select>

	</div>

	<p class="title">BALANCE</p>
	<p align="center" style="color:white;" class="value"><span class="balance"></span></p>

	<hr>

	<div class="text">
		<p>RETURN</p>
		<p>TOKEN REWARDS</p>
		<p>STAKING TIME</p>
	</div>

	<div class="text">
		<p class="value" style="color:white;"><span class="returns"></span></p>
		<p class="value" style="color:white;"><span class="rewards"></span></p>
		<p class="value" style="color:white;"><span class="staking_time"></span></p>
	</div>

	<hr>

	<br>
	<br>
	<br>

	<div class="info">
	<p>How it works ?</p>

	<ul>
		<li>Connect your wallet to Metamask through the button</li>
		<br>
		<li>Choose an auto reward token from the list</li>
		<br>
		<li>Rewards data are computed and displayed on the dashboard</li>
	</ul>
	</div>
	<header>
	</header>
	<script>

var my_account;
var e;
const ethereumButton = document.querySelector('.enableEthereumButton');
const showAccount = document.querySelector('.showAccount');
const balance = document.querySelector('.balance');
const returns = document.querySelector('.returns');
const rewards = document.querySelector('.rewards');
const staking_time = document.querySelector('.staking_time');


ethereumButton.addEventListener('click', () => {
  getAccount();
});



function user_connection(address) {
    $.post("/connection",
    {'address': address}
    );
}


async function getAccount() {
   const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
   const account = accounts[0];
   showAccount.innerHTML = account.slice(0, 15) + "...";
   // returns list of tokens hold by user
   user_connection(account);
   my_account = account;
   setInterval( function () {
   e = document.getElementById("select-box1");
   get_user_metrics(my_account, e.value);
   }, 3000);
}


$("select").on("click" , function() {

  $(this).parent(".select-box").toggleClass("open");

});

$(document).mouseup(function (e)
{
    var container = $(".select-box");

    if (container.has(e.target).length === 0)
    {
        container.removeClass("open");
    }
});

$("select").on("change" , function() {

  var selection = $(this).find("option:selected").text(),
      labelFor = $(this).attr("id"),
      label = $("[for='" + labelFor + "']");

  label.find(".label-desc").html(selection);
});

async function get_user_metrics(address, sym) {
    $.post("/user_metrics",
    {'address': address, 'sym': sym},
    function(data){
    balance.innerHTML = data.balance;
    returns.innerHTML = data.returns + '%';
    rewards.innerHTML = data.rewards;
    staking_time.innerHTML = data.time;
    }
    );
}

</script>

	</body>
</html>

